<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<link rel="icon" href="{{ url_for('static', filename='images/utility/loveball.ico') }}" type="image/x-icon">
			<title>Pokedex</title>
			<link rel="stylesheet" href="{{ url_for('static', filename='css/pokedex.css') }}">
	</head>
	<body>
		<div class="container">
			<header class="glassmorphism">
				<h1>La Pokedex Oficial de los Pokeneas</h1>
				<h2>¡Explora todos los Pokeneas! Taller 02 del curso Topicos Especiales en Ingeniería de Software</h2>
			</header>

			<nav class="buttons glassmorphism">
				<a href="/api" class="btn">Acceder a la API total</a>
				<a href="/api/pokenea" class="btn">API de Pokenea aleatorio</a>
				<a href="/pokenea" class="btn">Sorprendeme</a>
			</nav>

			<main class="glassmorphism">
				<div class="pokeneas-grid">
					{% for pokenea in pokeneas %}
						<div class="pokenea-card">
							<img src="{{ pokenea.body }}" alt="{{ pokenea.nombre }}">
							<div class="pokenea-info">
								<div class="pokenea-name">{{ pokenea.nombre }}</div>
								<a href="/pokenea/{{ pokenea.id }}" class="know-more-btn">Conócelo más</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</main>
		</div>

		<footer>
			<p>&copy; 2024 Pokedex de Pokeneas. Todos los derechos reservados.</p>
			<p>ID del contenedor: {{ container_id }}</p>
			<p>Desarrollado por: Danna Mendoza y Paulina Cerón</p>
		</footer>
	</body>
</html>